.pa-xs {
  padding: 4px;
}

.pa-sm {
  padding: 8px;
}

.pa-md {
  padding: 16px;
}

.pa-lg {
  padding: 24px;
}

.pa-xl {
  padding: 32px;
}

.pt-xs {
  padding-top: 4px;
}

.pt-sm {
  padding-top: 8px;
}

.pt-md {
  padding-top: 16px;
}

.pt-lg {
  padding-top: 24px;
}

.pt-xl {
  padding-top: 32px;
}

.pb-xs {
  padding-bottom: 4px;
}

.pb-sm {
  padding-bottom: 8px;
}

.pb-md {
  padding-bottom: 16px;
}

.pb-lg {
  padding-bottom: 24px;
}

.pb-xl {
  padding-bottom: 32px;
}

.px-xs {
  padding: 0 4px;
}

.px-sm {
  padding: 0 8px;
}

.px-md {
  padding: 0 16px;
}

.px-lg {
  padding: 0 24px;
}

.px-xl {
  padding: 0 32px;
}

.py-xs {
  padding: 4px 0;
}

.py-sm {
  padding: 8px 0;
}

.py-md {
  padding: 16px 0;
}

.py-lg {
  padding: 24px 0;
}

.py-xl {
  padding: 32px 0;
}

.pl-xs {
  padding-left: 4px;
}

.pl-sm {
  padding-left: 8px;
}

.pl-md {
  padding-left: 16px;
}

.pl-lg {
  padding-left: 24px;
}

.pl-xl {
  padding-left: 32px;
}

.pr-xs {
  padding-right: 4px;
}

.pr-sm {
  padding-right: 8px;
}

.pr-md {
  padding-right: 16px;
}

.pr-lg {
  padding-right: 24px;
}

.pr-xl {
  padding-right: 32px;
}

.ma-xs {
  padding: 4px;
}

.ma-sm {
  padding: 8px;
}

.ma-md {
  padding: 16px;
}

.ma-lg {
  padding: 24px;
}

.ma-xl {
  padding: 32px;
}